:root{

    --bg:#ffffff;
    --container:#f5f5f5;

    --text:#222222;
    --heading:#222222;
    --mode:#d25532;

    --start:#2edb6d;
    --pause:#facc15;
    --reset:#ef4444;

    --li:#e8e8e8;
    --li-text:#222222;

    --input:#ffffff;
    --input-text:#222222;

    --modal:#ffffff;

    --border:#d8d8d8;

    --shadow:rgba(0,0,0,.20);

    --accent:#3b82f6;

}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background:var(--bg);
    color:var(--text);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 40px 0;
}

.container {

    width: 420px;
    background:var(--container);
    box-shadow:0 0 25px var(--shadow);
    padding: 30px;
    border-radius: 20px;

}

h1 {

    color:var(--heading);
    text-align: center;
    margin-bottom: 20px;

}

.mode {

    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--mode)

}

.timer {

    font-size: 70px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;

}

.session {

    text-align: center;
    margin-bottom: 20px;

}

.buttons {

    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

}

button {

    padding: 12px 20px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: .5s;

}

button:hover {

    transform: scale(1.05);

}

#start {

    background: var(--start);
    color: white;

}

#pause {

    background: var(--pause);

}

#reset {

    background: var(--reset);
    color: white;

}

hr {

    margin: 20px 0;
    border:1px solid var(--border);

}

.settings-panel{

    position:fixed;
    top:0;
    right:-420px;
    width:400px;
    height:100vh;
    background:var(--modal);
    padding:25px;
    transition: .5s;
    box-sizing:border-box;
    box-shadow:-8px 0 20px rgba(0,0,0,.2);
    overflow-y:auto;

}

.settings-panel.open{

    right:0;

}

.modal-box{

    width:100%;
    padding:0;
    background:none;
    box-shadow:none;
    border-radius:0;

}

.modal-top{

    display:flex;
    justify-content:space-between;
    align-items:center;

}

#closeModal{

    font-size:30px;
    cursor:pointer;

}

.theme-setting{

    margin-top:25px;
    display:flex;
    justify-content:space-between;
    align-items:center;

}

.theme-setting h3{

    margin-bottom:15px;

}

.theme-buttons{

    display:flex;
    justify-content:space-between;
    gap:10px;

}

.theme-btn{

    width:45px;
    height:45px;
    border-radius:50%;
    border:3px solid transparent;
    cursor:pointer;
    transition: .5s;
    font-size:22px;
    padding:0;

}

.theme-btn:hover{

    transform:scale(1.1);

}

.theme-btn{

    width:35px;
    height:35px;
    border-radius:50%;
    border:3px solid transparent;
    cursor:pointer;
    transition: .5s;
    padding:0;

}

.light{
    background:#ffffff;
    border:2px solid #cfcfcf;
}

.red{
    background:#ba4949;
}

.blue{
    background:#397097;
}

.green{
    background:#4c9195;
}

.black{
    background:#121212;
}

.theme-btn:hover{
    transform:scale(1.05);
}

.timer-modes{

    display:flex;
    justify-content:center;
    gap:10px;
    margin-bottom:20px;

}

.mode-btn{

    background:transparent;
    color:var(--text);
    padding:10px 18px;
    border-radius:8px;
    border:none;
    font-weight:bold;

}

.mode-btn:hover{

    background:rgba(255,255,255,.15);

}

.mode-btn.active{

    background:rgba(0,0,0,.15);

}

.theme-btn.active{

    transform:scale(1.15);
    border:3px solid white;

}

.mode-btn.active{

    background:rgba(0,0,0,.18);

}

.evolution{

    display:flex;
    justify-content:space-between;
    margin:20px 0;

}

.stage{

    text-align:center;
    opacity:.3;
    transition:.5s;

}

.stage.active{

    opacity:1;
    transform:scale(1.1);

}

.stage img{

    width:55px;

}

.timer-settings {

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

}

.timer-settings h3 {

    margin-bottom: 5px;

}

.timer-settings label {

    font-weight: bold;
    color: var(--text);

}

.timer-settings input {

    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    background: var(--li);
    color: var(--text);
    box-sizing: border-box;

}

#saveTimer {

    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    background: #4CAF50;
    color: white;
    transition: .5s;

}

#saveTimer:hover {

    background: #45a049;

}

.sidebar {

    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height:100vh;
    background: #222;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

}

.sidebar:hover {

    width:220px;

}

.menu-icon{

    color:white;
    font-size:30px;
    margin-bottom:40px;
    cursor:pointer;

}

.sidebar-btn{

    width:200px;
    margin:8px 0;
    padding:12px;
    border:none;
    border-radius:8px;
    background:transparent;
    color:white;
    font-size:16px;
    cursor:pointer;
    text-align:left;
    transition: .5s;

}

.sidebar-btn:hover{

    background:#444;

}

.notes-panel{

    position:fixed;
    top:0;
    right:-420px;
    width:400px;
    height:100vh;
    background:var(--modal);
    transition: .55s;
    z-index:1001;
    padding:20px;
    box-sizing:border-box;
    box-shadow:-5px 0 15px rgba(0,0,0,.2);

}

.notes-panel.open{

    right:0;

}

.notes-top{

    display:flex;
    justify-content:space-between;
    align-items:center;

}

#closeNotes{

    font-size:30px;
    cursor:pointer;

}

#notesText{

    width:100%;
    height:75%;
    margin-top:20px;
    resize:none;
    padding:12px;
    border-radius:10px;
    box-sizing:border-box;
    font-size:16px;

}

.notes-buttons{

    display:flex;
    gap:10px;
    margin-top:15px;

}

.notes-buttons button{

    flex:1;
    padding:10px;
    border:none;
    border-radius:8px;
    cursor:pointer;

}

.stats-panel {

    position: fixed;
    top: 0;
    right: -420px;
    width: 400px;
    height: 100vh;
    background: var(--modal);
    transition: .55s;
    z-index: 1001;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 5px 0 15px rgba(0,0,0,.2);

}

.stats-panel.open {

    right: 0;

}

.stats-top {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

#closeStats {

    font-size: 30px;
    cursor: pointer;

}

.stats-card {

    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 18px

}

.stats-card p {

    background: var(--li);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 17px;

}

.todo-panel {

    position: fixed;
    top: 0;
    right: -420px;
    width: 400px;
    height: 100vh;
    background: var(--modal);
    transition: .55s;
    z-index: 1001;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 5px 0 15px rgba(0,0,0,.2);

}

.todo-panel.open {

    right: 0;

}

#closeTodo {

    font-size: 30px;
    cursor: pointer;

}

.todo-panel input {

    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background: var(--li);
    color: var(--text);

}

.todo-panel button {

    margin-top: 12px;
    width: 100%;
    background: var(--accent);
    color: white;

}

.todo-panel ul {

    list-style: none;
    margin-top: 20px;
    max-height: 65vh;
    overflow-y: auto;

}

.todo-panel li {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--li);
    color: var(--li-text);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;

}

.todo-top{

    display:flex;
    justify-content:space-between;
    align-items:center;

}

.todo-panel .delete{

    width:35px !important;
    height:35px !important;
    padding:0 !important;
    margin:0 !important;
    background:red !important;
    color:white !important;
    border-radius:8px !important;
    cursor:pointer;
    flex-shrink:0;

}

.music-panel {

    position: fixed;
    top: 0;
    right: -420px;
    width: 400px;
    height: 100vh;
    background: var(--modal);
    color: var(--text);
    padding: 25px;
    box-sizing: border-box;
    transition: .5s;
    z-index: 1000;
    box-shadow: -8px 0 20px rgba(0,0,0,.2);

}

.music-panel.open{

    right: 0;

}

.music-top{
    
    display:flex;
    justify-content:space-between;
    align-items:center;

}

.music-top h2 {

    margin: 0;
    font-size: 28px;

}

#closeMusic{

    font-size: 32px;
    cursor: pointer;
    transition: .5s;

}

#closeMusic:hover{

    color: var(--accent);

}

.music-option{

    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
    border: none;
    border-radius: 12px;
    background: var(--li);
    color: var(--li-text);
    font-size: 17px;
    text-align: left;
    cursor: pointer;
    transition: .5s;

}

.music-option:hover {

    background: var(--accent);
    color: white;

}

.music-option.active {

    background: var(--accent);
    color:white;

}

.music-panel h2 {

    margin: 25px 0;
    border: none;
    border-top: 1px solid rgba(255,255,255,.15);

}

.music-panel label {

    display: block;
    margin-bottom: 10px;
    font-weight: bold;

}

#volume {

    width: 100%;
    cursor: pointer;

}

.music-panel::-webkit-scrollbar {

    width: 8px;

}

.music-panel::-webkit-scrollbar-thumb {

    background: var(--accent);
    border-radius: 20px;

}

.settings-top{

    display:flex;
    justify-content:space-between;
    align-items:center;

}

#closeModal{

    font-size:30px;
    cursor:pointer;

}

body.fullscreen .sidebar{

    display:none;

}

body.fullscreen .container{

    width:100%;
    height:100vh;
    max-width:none;
    border-radius:0;
    box-shadow:none;
    background:transparent;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:0;

}

body.fullscreen .timer{

    font-size:170px;

}

body.fullscreen h1{

    font-size:55px;

}

body.fullscreen .mode{

    font-size:42px;

}

body.fullscreen .session{

    font-size:28px;

}

body.fullscreen .buttons{

    margin-top:40px;

}

body.fullscreen .evolution{

    width:700px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:35px 0;

}

body.fullscreen .buttons{

    display:flex;
    justify-content:center;
    gap:25px;
    margin-top:40px;

}
body.fullscreen .buttons button{

    padding:18px 35px;
    font-size:22px;

}

body.fullscreen .stage img{

    width:85px;

}

.background-setting {

    margin-top: 20px;

}

.background-setting h4 {

    margin: 15px 0 10px;

}

.wallpaper-grid {

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;

}

.wallpaper {

    width: 100%;
    height: 55px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: .5s;

}

.wallpaper:hover {

    transform: scale(1.05);

}

.wallpaper.active {

    border: 3px solid #3b82f6;

}

.wallpaper.none{

    display:flex;
    justify-content:center;
    align-items:center;

    height:55px;

    background:var(--li);

    color:var(--text);

    font-weight:bold;

    border-radius:8px;

    cursor:pointer;

}

.settings-panel::-webkit-scrollbar{

    width:8px;

}

.settings-panel::-webkit-scrollbar-thumb{

    background:var(--accent);
    border-radius:20px;

}

.load-window {
    display: flex;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgb(31, 29, 29);
    outline: 0.3vw solid rgb(32, 128, 192);

    z-index: 9999;
}

.load-window.disappear {
    animation: slideUp 1s ease-in-out forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-110vh);
    }
}

.load-box {
    position: absolute;
    top: 45%;
    left: 35%;

    font-size: 2.5vw;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;

    padding: 15px 10px;

    background-color: rgb(32, 128, 192);
    outline: 0.3vw solid rgb(0, 0, 0);
    box-shadow: 0.9vw 0.9vw 0px 0px rgb(0, 0, 0);

    animation: bounce 1s ease-in-out infloade;

    z-index: 9999;
}

@keyframes bounce {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
}

.progress-bar {
    position: absolute;
    left: 2.5%;
    bottom: 5%;

    width: 95%;
    height: 4%;

    background-color: white;
    outline: 0.3vw solid rgb(0, 0, 0);
    box-shadow: 0.7vw 0.7vw 0px 0px rgb(0, 0, 0);

    z-index: 9999;
}

.progression {
    position: absolute;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: 
    linear-gradient(to right, rgb(128, 151, 255), rgb(83, 71, 255));

    animation: progressExpand 1.6s ease-in-out;

    z-index: 9999;
}

@keyframes progressExpand {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}