:root {

    --bg: #9fadcb;
    --container: rgb(183, 215, 220);
    --mode: #d25532bd;
    --start: #2edb6d;
    --pause: #facc15;
    --reset: #ef4444;
    --li: #3e3f41;
    --bg-dark: #423f3f;
    --bg-dark-container: #555658;
    --bg-dark-box: #777a7d;

}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background: var(--bg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 40px 0;
}

.container {

    width: 420px;
    background: var(--container);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .4);

}

h1 {

    text-align: center;
    margin-bottom: 20px;

}

.mode {

    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--mode)

}

.timer {

    font-size: 70px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;

}

.session {

    text-align: center;
    margin-bottom: 20px;

}

.buttons {

    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

}

button {

    padding: 12px 20px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;

}

button:hover {

    transform: scale(1.05);

}

#start {

    background: var(--start);
    color: white;

}

#pause {

    background: var(--pause);

}

#reset {

    background: var(--reset);
    color: white;

}

hr {

    margin: 20px 0;
    border: 1px solid #4d2809;

}

.todo-h2 {

    right: 770px;
    position:absolute;

}

.todo {

    display: flex;
    flex-direction: column;
    gap: 10px;
    right:10px;

}

.todo input {

    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 50px;

}

#addTask {

    background: #3b82f6;
    color: white;

}

ul {

    list-style: none;
    margin-top: 10px;

}

li {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--li);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;

}

.completed {

    text-decoration: line-through;
    opacity: 1;

}

.delete {

    background: red;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;

}

.settings-btn{

    position:fixed;
    top:25px;
    right:25px;
    width:55px;
    height:55px;
    border:none;
    border-radius:50%;
    background:#3b82f6;
    color:white;
    font-size:24px;
    cursor:pointer;
    box-shadow:0 10px 25px rgba(0,0,0,.25);
    transition:.3s;
    z-index:100;

}

.settings-btn:hover{

    transform:rotate(90deg) scale(1.1);

}

.modal{

    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:999;

}

.modal-box{

    width:350px;
    background:white;
    color:black;
    padding:25px;
    border-radius:15px;

}

.modal-top{

    display:flex;
    justify-content:space-between;
    align-items:center;

}

#closeModal{

    font-size:30px;
    cursor:pointer;

}

.theme-setting{

    margin-top:25px;
    display:flex;
    justify-content:space-between;
    align-items:center;

}

.switch{

    position:relative;
    width:55px;
    height:30px;

}

.switch input{

    display:none;

}

.slider{

    position:absolute;
    inset:0;
    background:#ccc;
    border-radius:50px;
    cursor:pointer;
    transition:.3s;

}

.slider::before{

    content:"";
    position:absolute;
    width:24px;
    height:24px;
    left:3px;
    top:3px;
    background:white;
    border-radius:50%;
    transition:.3s;

}

input:checked+.slider{

    background:#22c55e;

}

input:checked+.slider::before{

    transform:translateX(25px);

}

body.dark{

    background:var(--bg-dark);

}

body.dark .container{

    background:var(--bg-dark-container);
    color:white;

}

body.dark .modal-box{

    background:var(--bg-dark-box);
    color:white;

}